// =============================================================================
// TYPOGRAPHY
// =============================================================================
$font-body: 'Open Sans', sans-serif;

// =============================================================================
// FONT SIZE
// =============================================================================
$body-fs: 14px;
$fs-11: 0.786em;
$fs-12: 0.857em;
$fs-13: 0.929em;
$fs-14: 1em;
$fs-15: 1.07em;
$fs-16: 1.143em;
$fs-18: 1.286em;
$fs-20: 1.429em;
$fs-22: 1.57em;
$fs-24: 1.714em;
$fs-28: 2em;
$fs-30: 2.143em;
$fs-36: 2.571em;
$fs-48: 3.429em;
$fs-56: 4em;

// =============================================================================
// COLOR
// =============================================================================
$body-color: #7a7a7a;
$link-color: #ff6d00;
$border-color: #dcdcdc;

$black: #000;
$white: #fff;
$blue: #0088cc;
$light-gray: #ddd;
$very-light-gray: #f5f5f5;
$dark: #333;
$gray: #b1b1b1;
$dark-gray: #7a7a7a;
$dark-gray-2: #999;
$very-dark-gray: #696969;